{% import "mixins/flash-messages.html" as FM %}

<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>{{ title|default("Viela") }}</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

		{# Customise the stylesheet for your site by editing /public/styles/site.sass #}
		<!-- <link href="/styles/site.css" rel="stylesheet"> -->
		<link rel="stylesheet" href="/viela/bundle.css">

		{# This file provides the default styling for the KeystoneJS Content Editor #}
		{% if user and user.canAccessKeystone %}
			<link href="/keystone/styles/content/editor.min.css" rel="stylesheet">
		{% endif %}

		{# HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		   Safely remove this block if you are not targeting IE8 #}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

		{# Include template-specific stylesheets by extending the css block #}
		{% block css %}{% endblock %}

		{# Add any other template-specific HEAD tags by extending the head block #}
		{% block head %}{% endblock %}
	</head>
	<body>

		{# HEADER #}
		<header class="viela-HeaderInternal viela-Container">
			{% if data.post.categories[0].key %}
				{% if data.post.categories[0].key === 'institucional' %}
					<a href="/" class="viela-Heading viela-Heading--md viela-HeaderInternal-link">
						&larr; Início
					</a>
				{% else %}
					<a href="/blog/{{data.post.categories[0].key}}" class="viela-Heading viela-Heading--md viela-HeaderInternal-link">
						&larr; {{data.post.categories[0].name}}
					</a>
				{% endif %}
			{% else %}
				<a href="/" class="viela-Heading viela-Heading--md viela-HeaderInternal-link">
					&larr; Início
				</a>
			{% endif %}
			<img class="viela-HeaderInternal-logo" src="/images/projeto-viela-logo.svg" alt="Projeto Viela Logo">
		</header>

		{# BODY #}
		<div id="body" class="viela-Container">
			{# NOTE:
			   There is no .container wrapping class around body blocks to allow more flexibility in design.
			   Remember to include it in your templates when you override the intro and content blocks! #}

			{# The Intro block appears above flash messages (used for temporary information display) #}
			{% block intro %}{% endblock %}

			{# Flash messages allow you to display once-off status messages to users, e.g. form
			   validation errors, success messages, etc. #}
			{{ FM.flashMessages(messages) }}

			{# The content block should contain the body of your template"s content #}
			{% block content %}{% endblock %}
		</div>


		{# FOOTER #}
		<footer class="viela-Footer">
			<div class="viela-Container">
				<div class="viela-Footer-content">
					<div class="viela-Footer-logo">
						<img src="/images/logo-white.svg" alt="Logo Viela">
					</div>
					<div class="viela-Footer-description">
						<h1 class="viela-Heading viela-Heading--inverse">
							Rua Macedônio Fernandes - Jardim São Luiz | São Paulo - SP
						</h1>
						<a href="mailto:projeto.viela@gmail.com" class="viela-Text viela-Text--inverse viela-Text--caption viela-Footer-emailLink">  
							projeto.viela@gmail.com
						</a>
					</div>
				</div>
			</div>
		</footer>


		{# JAVASCRIPT #}

		{# jQuery 1.11.3 is included by default, and required by both Bootstrap
			and the KeystoneJS Content Editor. If you are not targeting IE8,
			you can upgrade to 2.1.4 (also bundled) for better performance. #}
		<script src="/js/jquery/jquery-1.11.3.min.js"></script>

		{# Customise which Bootstrap javascript files are served by including
			them specifically here, instead of bootstrap-3.3.5.min.js #}
		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>

		{# The KeystoneJS Content Editor provides support for ks-editable data attributes,
			which generate links to edit content for users who can access Keystone #}
		{% if user and user.canAccessKeystone %}
			<script src="/keystone/js/content/editor.js"></script>
		{% endif %}

		<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
		<script>
			var mySwiper = new Swiper('.swiper-container', {
				speed: 400,
				spaceBetween: 100,
				slidesPerView: 4,
				spaceBetween: 5,
				navigation: {
					nextEl: '.swiper-button-next',
					prevEl: '.swiper-button-prev',
				},
				breakpoints: {
					1024: {
						slidesPerView: 4,
						spaceBetween: 40,
					},
					768: {
						slidesPerView: 3,
						spaceBetween: 30,
					},
					640: {
						slidesPerView: 1,
						spaceBetween: 20,
					}
				}
			});
		</script>

		{# Add scripts that are globally required by your site here. #}

		{# Include template-specific javascript files by extending the js block #}
		{% block js %}{% endblock %}
	</body>
</html>
