.#{$namespace}-sectionContent { 
  height: auto;
  width: 100%;
  padding: 80px 0;
  position: relative;

  .#{$namespace}-Content { 
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
  }

  &--play {
    display: flex;
    align-items: center;
    height: auto;
    width: 100%;

    @media only screen and (min-width: 1200px) { 
      height: 100vh;
    }

    &-icon { 
      height: 110px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 35px;
  

      img { 
        width: 30px;
      }

      @media only screen and (min-width: 768px) { 
        height: 100%;

        img {
          width: 100%;
        }
      }
    }
  }

  &--image { 
    height: auto;
    padding: 0 !important;
    margin-bottom: 120px;

    &-yasmin { 
      @media only screen and (min-width:992px) {
        height: 700px;
        display: flex;
        align-items: center;

        .#{$namespace}-Content { 
          .#{$namespace}-Text { 
            width: 50%;
          }
        }
        
        .#{$namespace}-sectionContent--image-figure { 

          &-fluid { 
            width: 46%;
            img { 
              width: 100%;
            }
          }
        }
      }

      @media only screen and (min-width:1200px) {
        height: 940px;
        .#{$namespace}-sectionContent--image-figure { 

          &-fluid { 
            width: 55%;
          }
        }
      }
      
    }
    &-figure { 
      margin-bottom: 45px;
      img { 
        width: 100%;
      }
      &-fluid { 
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
      }
    }
  }

  &--forImage { 
    width: 100%;
    position: relative;
    background: #FFCF01;
    @media only screen and (min-width:768px) {
      background: transparent;
    }
    &-image {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 75%;
      @media only screen and (min-width:576px) {
        width: 430px;
      }
      @media only screen and (min-width:768px) {
        width: 50%;
      }
      img { 
        width: 100%;
      }
    }

    .#{$namespace}-sectionContent { 
      .#{$namespace}-Content { 
        margin-top: 40%;
        @media only screen and (min-width:768px) {
          margin-top: 0;
        }
        .#{$namespace}-Tag,
        .#{$namespace}-Heading { 
            @media only screen and (min-width:768px) {
            margin-left: -70px; 
          }
        }
      }
    }
  }
}