.#{$namespace}-sectionHero { 
  height: 350px;
  width: 100%;
  margin-top: 60px;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;


  @media only screen and ( min-width: 768px) { 
    height: 100vh;
    justify-content: flex-start;
  }

}