{% extends "layouts/internal-page.html" %}

{% macro blogPost(post) %}
	<article class="viela-Post">
			{% if not post %}
				<h2>Post inválido :/</h2>
			{% else %}
				<header>
					{% if post.image.exists %}
						<div class="viela-Row viela-Post-banner">
							<img src="{{ post._.image.fit(1230,586) }}" class="viela-Col-sm-12">
						</div>
					{% endif %}
					<div class="viela-Content viela-Row">
						<p class="viela-Tag viela-Tag--dark viela-Col-md-10 viela-Offset-md-1">{{post.categories[0].name}} - {{ post.hat }}</p>
						<h2 class="viela-Heading viela-Heading--xl viela-Col-md-6 viela-Offset-md-1">{{ post.title }}</h2>
					</div>
				</header>
				<div class="viela-Row">
					<div class="viela-Text viela-Text--body viela-Col-md-10 viela-Offset-md-1">
						{{ post.content.brief|safe }}
						<div class="viela-Link viela-Link--readMore">
							<a class="viela-Link--anchor" href="/blog/post/{{ post.slug }}">Ler mais...</a>
						</div>
					</div>
				</div>
			{% endif %}
			<hr class="viela-Divider">
		</article>
{% endmacro %}

{% block intro %}
{# empty #}
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-sm-8 col-md-9">
			{% if filters.category and not data.category %}
				<h3 class="text-muted">Invalid Category.</h3>
			{% else %}
				{% if data.posts.results.length %}
					<div class="blog">
						{% for post in data.posts.results %} {{ blogPost(post) }} {% endfor %}
					</div>
					{% if data.posts.totalPages > 1 %}
						<ul class="pagination">
							
							{% if data.posts.previous %}
								<li>
									<a href="?page={{ data.posts.previous }}">
										<span class="glyphicon glyphicon-chevron-left"></span>
									</a>
								</li>
							{% else %}
								<li class="disabled">
									<a href="?page=1">
										<span class="glyphicon glyphicon-chevron-left"></span>
									</a>
								</li>
							{% endif %}

							{% for p in data.posts.pages %} {% set class = ( "active" if data.posts.currentPage == p else "" ) %}
								<li class="{{ class }}">
									{% set page = ( (data.posts.totalPages if i else 1) if p == "..." else p ) %}
									<a href="?page={{ page }}">{{ p }}</a>
								</li>
							{% endfor %}

							{% if data.posts.next %}
								<li>
									<a href="?page={{ data.posts.next }}">
										<span class="glyphicon glyphicon-chevron-right"></span>
									</a>
								</li>
							{% else %}
								<li class="disabled">
									<a href="?page={{ data.posts.totalPages }}">
										<span class="glyphicon glyphicon-chevron-right"></span>
									</a>
								</li>
							{% endif %}
						</ul>
					{% endif %}
				{% else %}
					{% if data.category %}
						<h3 class="text-muted">Ainda não existe nenhum post na categoria {{ data.category.name }}.</h3>
					{% else %}
						<h3 class="text-muted">Ainda nenhum post aqui.</h3>
					{% endif %}
				{% endif %}
			{% endif %}
		</div>
		
		{% if data.categories.length %}
			<!-- <div class="col-sm-4 col-md-3">
				<h2>Categories</h2>
				<div class="list-group" style="margin-top: 70px;">
					{% set class = ( "active" if not data.category else "" ) %}
					<a href="/blog" class="{{ class }} list-group-item">All Categories</a>
					{% for cat in data.categories %} {% set class = ( "active" if data.category and data.category.id == cat.id else "" ) %}
						<a href="/blog/{{ cat.key }}" class="{{ class }} list-group-item">{{ cat.name }}</a>
					{% endfor %}
				</div>
			</div> -->
		{% endif %}

	</div>
</div>
<div class="viela-Donate">
	<h3 class="viela-Heading viela-Heading--md">Novas histórias em breve</h3>
	<p class="viela-Subtitle viela-Subtitle--sm">Ajude a criarmos novos caminhos</p>
	<a href="#" class="viela-Button viela-Button--primary">Doar agora</a>
</div>
{% endblock %}
