{% extends "layouts/internal-page.html" %}

{% block content %}
	<article class="viela-Post">
		{% if not data.post %}
			<h2>Post inválido :/</h2>
		{% else %}
			<header>
				{% if data.post.image.exists %}
					<div class="viela-Row viela-Post-banner">
						<img src="{{ data.post._.image.fit(1230,586) }}" class="viela-Col-sm-12">
					</div>
				{% endif %}
				<div class="viela-Content viela-Row">
					<p class="viela-Tag viela-Tag--dark viela-Col-md-10 viela-Offset-md-1">{{data.post.categories[0].name}} - {{ data.post.hat }}</p>
					<h2 class="viela-Heading viela-Heading--xl viela-Col-md-6 viela-Offset-md-1">{{ data.post.title }}</h2>
				</div>
			</header>
			<div class="viela-Row">
				<div class="viela-Text viela-Text--body viela-Col-md-5 viela-Offset-md-1">
					{{ data.post.content.full|safe }}
				</div>
				<div class="viela-Text viela-Text--body viela-Col-md-5">
					{{ data.post.content.full|safe }}
				</div>
			</div>
		{% endif %}
	</article>
  <hr class="viela-Divider">
	<div class="viela-Row">
    <div class="viela-Col-md-10 viela-Offset-md-1">
			<div class="viela-Row">
				<div class="viela-Col-md-4">
					<div class="viela-Statistics">
						<p class="viela-Heading viela-Statistics-title">
							160
						</p>
						<p class="viela-Text viela-Statistics-description">
							<span>
								crianças
							</span>
							<br>
							participantes
						</p>
					</div>
				</div>
				
				<div class="viela-Col-md-4">
					<div class="viela-Statistics">
						<p class="viela-Heading viela-Statistics-title">
							68 mil
						</p>
						<p class="viela-Text viela-Statistics-description">
							<span>
								investidos
							</span>
							<br>
							no futuro
						</p>
					</div>
				</div>
				
				<div class="viela-Col-md-4">
					<div class="viela-Statistics viela-Statistics--inline">
						<p class="viela-Heading viela-Statistics-title">
							60
						</p>
						<p class="viela-Text viela-Statistics-description">
							% meninos
						</p>
					</div>
					<div class="viela-Statistics viela-Statistics--inline">
						<p class="viela-Heading viela-Statistics-title">
							40
						</p>
						<p class="viela-Text viela-Statistics-description">
							% meninas
						</p>  
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="viela-Row">
		<div class="viela-Col-md-10 viela-Offset-md-1">
				<div class="viela-Row">
					<div class="viela-Col-md-4">
						<div class="viela-Statistics">
							<p class="viela-Heading viela-Statistics-title">
								07
							</p>
							<p class="viela-Text viela-Statistics-description">
								<span>
									atividades
								</span>
								no
								<br>
								participantes
							</p>
						</div>
					</div>
					
					<div class="viela-Col-md-4">
						<div class="viela-Statistics">
							<p class="viela-Heading viela-Statistics-title">
								19
							</p>
							<p class="viela-Text viela-Statistics-description">
								<span>
									pessoas
								</span>
								na 
								<br>
								equipe do viela
							</p>
						</div>
					</div>
					
					<div class="viela-Col-md-4">
						<div class="viela-Statistics">
							<p class="viela-Heading viela-Statistics-title">
								2007
							</p>
							<p class="viela-Text viela-Statistics-description">
								<span>
									horas
								</span>
								de cultura
								<br>
								e esporte
							</p>
						</div>
					</div>
				</div>
		</div>
	</div>

	<hr class="viela-Divider">
	
	<section>
		<div class="viela-Content">
			<p class="viela-Tag viela-Tag--dark">
				Equipe
			</p>
			<div class="viela-Row">
				<h2 class="viela-Heading viela-Heading--xl viela-Col-md-6">
					O time que <br>faz o Viela
				</h2>
			</div>
		</div>
		<div class="viela-Swiper viela-Container-fluid">
				<!-- Slider main container -->
				<div class="swiper-container">
					<!-- Additional required wrapper -->
					<div class="swiper-wrapper">
						<!-- Slides -->
						<div class="swiper-slide">
							
							<div class="viela-ImageContent">
								<img src="/images/danilo-juliana.jpg" alt="">
								<h3 class="viela-Heading viela-Heading--sm"> 
									Danilo e Juliana
								</h3>
								<p class="viela-Text viela-Text-body ">
									Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, aperiam.
								</p>
							</div>
							
						</div>
						<div class="swiper-slide">
							
							<div class="viela-ImageContent">
								<img src="/images/thiago.jpg" alt="">
								<h3 class="viela-Heading viela-Heading--sm"> 
									Thiago
								</h3>
								<p class="viela-Text viela-Text-body ">
									Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, aperiam.
								</p>
							</div>
							
						</div>
						<div class="swiper-slide">
							
							<div class="viela-ImageContent">
								<img src="/images/renato.jpg" alt="">
								<h3 class="viela-Heading viela-Heading--sm"> 
									Renato Paz
								</h3>
								<p class="viela-Text viela-Text-body ">
									Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, aperiam.
								</p>
							</div>
							
						</div>
						<div class="swiper-slide">
							
							<div class="viela-ImageContent">
								<img src="/images/anderson.jpg" alt="">
								<h3 class="viela-Heading viela-Heading--sm"> 
									Anderson ‘Buiu’
								</h3>
								<p class="viela-Text viela-Text-body ">
									Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, aperiam.
								</p>
							</div>
							
						</div>
					</div>
					
					<div class="viela-Swiper-navigation">
						<!-- If we need navigation buttons -->
						<div class="viela-Swiper-navigation-item swiper-button-prev">
							<img src="/images/arrow-left.svg" alt="">
						</div>
						<div class="viela-Swiper-navigation-item swiper-button-next">
								<img src="/images/arrow-right.svg" alt="">
						</div>
					</div>
					
					
				</div>
			</div>
	</section>


  <hr class="viela-Divider">

	<div class="viela-Donate">
    <h3 class="viela-Heading viela-Heading--md">Novas histórias em breve</h3>
    <p class="viela-Subtitle viela-Subtitle--sm">Ajude a criarmos novos caminhos</p>
    <a href="#" class="viela-Button viela-Button--primary">Doar agora</a>
  </div>
{% endblock %}
