{% extends "layouts/default.html" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12">
				<article>
					<p>
						<a href="/blog/{{data.post.categories[0].key}}">&larr; {{data.post.categories[0].name}}s</a>
					</p>
					{% if not data.post %}
						<h2>Post inválido :/</h2>
					{% else %}
						<header>
							{% if data.post.image.exists %}
								<div class="image-wrap">
									<img src="{{ data.post._.image.fit(1230,586) }}" class="img-responsive">
								</div>
							{% endif %}
							<div class="row">
								<div class="col-sm-12 col-md-offset-1 col-md-10 col-lg-10">
									<h2 class="viela-tag viela-tag--highlight">{{data.post.categories[0].name}} - {{ data.post.hat }}</h2>
									<h1>{{ data.post.title }}</h1>
								</div>
							</div>
							{# <h5>Posted</h5>
							{% if data.post.publishedDate %}
								on {{ data.post._.publishedDate.format("MMMM Do, YYYY") }}
							{% endif %}
							{% if data.post.categories and data.post.categories.length %}
								in
								{% for cat in data.post.categories %}<a href="/blog/{{ cat.key }}">{{ cat.name }}</a>{% if loop.index < data.post.categories.length %}, {% endif %}{% endfor %}
											{% endif %}
							{% if data.post.author %}
								by {{ data.post.author.name.first }}
							{% endif %} #}
						</header>
						<div class="row post">
							<div class="col-sm-12 col-md-offset-1 col-md-10 col-lg-10">
								{{ data.post.content.full|safe }}
							</div>
						</div>
					{% endif %}
				</article>
			</div>
		</div>
	</div>
{% endblock %}
