
@mixin defaultTag {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-family: $font-family-base;
    font-size: $font-size-xxxs ;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    
}

@mixin modifiersTag {
    &--light {
        color: $color-neutral-lightest;
    }
    &--dark {
        color: $color-neutral-darkest;
    }
}

.#{$namespace}-Tag { 
    @include defaultTag;
    @include modifiersTag;

}