.#{$namespace}-Content { 
  position: relative;
  z-index: 2;
  .#{$namespace}-Tag { 
    margin-bottom: 15px;
  }
  
  .#{$namespace}-Heading { 
    margin-bottom: 25px;
  }
  
  .#{$namespace}-Text { 
    margin-bottom: 25px;
  }

  .#{$namespace}-Button { 
    width: 250px;
  }
}