@mixin statisticsDefault {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  @media only screen and (min-width: 768px) { 
    margin-bottom: 0;
  }
}

@mixin statisticsTitle {
  &-title { 
    font-size: 55px;
    
    @media only screen and (min-width: 768px) { 
      font-size: 32px;
    }
    @media only screen and (min-width: 1200px) { 
      font-size: 72px;

    }
  }
}

@mixin statisticsDescription {
  &-description { 
    font-size: 24px;
    
    @media only screen and (min-width: 768px) { 
      font-size: 18px;
    }
    
    @media only screen and (min-width: 1200px) { 
      font-size: 32px;
    }


    span { 
      font-weight: 900;
    }
  }
}

@mixin statisticsInline {
  &--inline { 
    flex-direction: row;
    align-items: flex-end;

    .#{$namespace}-Statistics-description { 
      position: relative;
      top: -15px;
    }
  }
}


.#{$namespace}-Statistics { 
  @include statisticsDefault;
  @include statisticsTitle;
  @include statisticsDescription;
  @include statisticsInline;

  

}