@import './reset';

$namespace : viela;

$font-size-xxxs: 12px;
$font-size-xxs: 16px;
$font-size-xs: 20px;
$font-size-sm: 24px;
$font-size-md: 28px;
$font-size-lg: 32px;
$font-size-xl: 36px;
$font-size-xxl: 48px;
$font-size-xxxl: 64px;
$font-size-ul: 72px;

$spacing-inline-xxxs: 4px;
$spacing-inline-xxs: 8px;
$spacing-inline-xs: 16px;
$spacing-inline-sm: 24px;
$spacing-inline-md: 32px;
$spacing-inline-lg: 48px;
$spacing-inline-xl: 64px;
$spacing-inset-xxs: 4px;
$spacing-inset-xs: 8px;
$spacing-inset-sm: 16px;
$spacing-inset-md: 24px;
$spacing-inset-lg: 32px;
$spacing-inset-xl: 48px;
$spacing-squish-sm: 8px 16px;
$spacing-squish-md: 16px 24px;
$spacing-squish-lg: 16px 32px;
$spacing-squish-xl: 32px 48px;
$spacing-stack-xxxs: 4px;
$spacing-stack-xxs: 8px;
$spacing-stack-xs: 16px;
$spacing-stack-sm: 24px;
$spacing-stack-md: 32px;
$spacing-stack-lg: 48px;
$spacing-stack-xl: 64px;
$spacing-stack-xxl: 96px;
$spacing-stack-xxxl: 118px;

$font-weight-extra-light : 200;
$font-weight-light : 300;
$font-weight-regular : 400;
$font-weight-medium : 500;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

$color-neutral-lightest : #fff;
$color-neutral-darkest : #000;

$color-primary : #EE283B;
$color-secondary : #00AEEF;

@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded:400,700,900&display=swap');
$font-family-base:  'Encode Sans Expanded';



.hide-mobile { 

  @media only screen and (max-width: 991px) { 
    display: none !important;
  }

}

.hide-desk { 

  @media only screen and (min-width: 992px) { 
    display: none !important;
  }

}


.#{$namespace}-Flex-column-sm-reverse { 
  @media only screen and (max-width: 992px) { 
    flex-direction: column-reverse;
  } 
}

// Base Components
@import "baseComponents/Grid/utils/variables";
@import 'baseComponents/Text/Heading',
        'baseComponents/Text/Text',
        'baseComponents/Text/Subtitle';

@import 'baseComponents/Tag/hat';
@import 'baseComponents/Link/link';
@import 'baseComponents/Button/button';
@import 'baseComponents/Grid/grid';
@import 'baseComponents/Divider';
@import 'baseComponents/Swiper/swiper';
@import 'baseComponents/Pattern/pattern';
@import 'baseComponents/Partners/partners';
@import 'baseComponents/Profile/profile';
@import 'baseComponents/ImageContent/imageContent';

// Components
@import 'components/Content';
@import 'components/Post';
@import 'components/HeaderInternal';
@import 'components/Donate';
@import 'components/Footer';
@import 'components/Statistics';

// Sections
@import 'section/sectionContent';
@import 'section/sectionProfile';
@import 'section/sectionInstagram';
@import 'section/sectionCaminhos';
@import 'section/sectionHero';