// stylelint-disable declaration-no-important

// Margin and Padding

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $prop, $abbrev in (margin: m, padding: p) {
      @each $size, $length in $spacers {
        .#{$namespace}-u-#{$abbrev}#{$infix}-#{$size} { #{$prop}: $length !important; }
        .#{$namespace}-u-#{$abbrev}t#{$infix}-#{$size},
        .#{$namespace}-u-#{$abbrev}y#{$infix}-#{$size} {
          #{$prop}-top: $length !important;
        }
        .#{$namespace}-u-#{$abbrev}r#{$infix}-#{$size},
        .#{$namespace}-u-#{$abbrev}x#{$infix}-#{$size} {
          #{$prop}-right: $length !important;
        }
        .#{$namespace}-u-#{$abbrev}b#{$infix}-#{$size},
        .#{$namespace}-u-#{$abbrev}y#{$infix}-#{$size} {
          #{$prop}-bottom: $length !important;
        }
        .#{$namespace}-u-#{$abbrev}l#{$infix}-#{$size},
        .#{$namespace}-u-#{$abbrev}x#{$infix}-#{$size} {
          #{$prop}-left: $length !important;
        }
      }
    }

    // Negative margins (e.g., where `.mb-n1` is negative version of `.mb-1`)
    @each $size, $length in $spacers {
      @if $size != 0 {
        .#{$namespace}-u-m#{$infix}-n#{$size} { margin: -$length !important; }
        .#{$namespace}-u-mt#{$infix}-n#{$size},
        .#{$namespace}-u-my#{$infix}-n#{$size} {
          margin-top: -$length !important;
        }
        .#{$namespace}-u-mr#{$infix}-n#{$size},
        .#{$namespace}-u-mx#{$infix}-n#{$size} {
          margin-right: -$length !important;
        }
        .#{$namespace}-u-mb#{$infix}-n#{$size},
        .#{$namespace}-u-my#{$infix}-n#{$size} {
          margin-bottom: -$length !important;
        }
        .#{$namespace}-u-ml#{$infix}-n#{$size},
        .#{$namespace}-u-mx#{$infix}-n#{$size} {
          margin-left: -$length !important;
        }
      }
    }

    // Some special margin utils
    .#{$namespace}-u-m#{$infix}-auto { margin: auto !important; }
    .#{$namespace}-u-mt#{$infix}-auto,
    .#{$namespace}-u-my#{$infix}-auto {
      margin-top: auto !important;
    }
    .#{$namespace}-u-mr#{$infix}-auto,
    .#{$namespace}-u-mx#{$infix}-auto {
      margin-right: auto !important;
    }
    .#{$namespace}-u-mb#{$infix}-auto,
    .#{$namespace}-u-my#{$infix}-auto {
      margin-bottom: auto !important;
    }
    .#{$namespace}-u-ml#{$infix}-auto,
    .#{$namespace}-u-mx#{$infix}-auto {
      margin-left: auto !important;
    }
  }
}
