.#{$namespace}-Swiper { 
  &-navigation { 
    display: flex;
    position: relative;
    margin-top: 55px;

    &-item { 
      position: relative;
      margin-right: 40px;
      background: none !important;
    }
  }
  .#{$namespace}-ImageContent {
    .#{$namespace}-Heading {
      margin-top: $spacing-stack-sm;
      margin-bottom: $spacing-stack-xs;
    }
    img {
      width: 100%;
    }
  }
}